version: '2'
services:
  api-server:
    build: ./server
    container_name: "nodejs-erver"
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
    links:
      - mongodb
  mongodb:
    image: mongo:latest
    container_name: "mongodb-server"
    volumes: 
      - ./mongodb/db:/data/db
    ports:
      - 27017:27017